Source: hiddenfatherfrost
Section: unknown
Priority: optional
Maintainer: Karel Wintersky <karel.wintersky@yandex.ru>
Uploaders: Karel Wintersky <karel.wintersky@yandex.ru>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage:

Package: hiddenfatherfrost
Architecture: all
Description: Сбор данных для движухи "Тайный Дед Мороз"
